 <section id="content" class="m-t-lg wrapper-md animated fadeInDown">
    <a class="nav-brand">Salon Objectives</a>
    <div class="row m-n">
      <div class="col-md-4 col-md-offset-4 m-t-lg">
        <section class="panel">
          <header class="panel-heading bg bg-primary text-center">
            Edit <%= resource_name.to_s.humanize %>
          </header>


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'panel-body' }) do |f| %>
<div class="form-group">
  <%= f.input :first_name, :autofocus => true %></div>
  <div class="form-group">
  <%= f.input :last_name %></div>
  <div class="form-group">
  <%= f.input :email, :required => true %></div>
  <% if current_user.password_required? %>
    <div class="form-group">
    <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %></div>
    <div class="form-group">
    <%= f.input :password_confirmation, :required => false %></div>
    <div class="form-group">
    <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %></div>
  <% end %>
  <%= f.button :submit, 'Update', :class => 'btn btn-info' %>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :class => 'btn btn-danger', :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

